/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/

$color__light: #fff;
$color__medium: #cfcfce;
$color__medium-dark: #686666;
$color__dark: #3a3736;
$color__highlight: #319bcf;



/*--------------------------------------------------------------
# Fonts
--------------------------------------------------------------*/

$font-stack__main: Tahoma,
Helvetica,
Segoe,
sans-serif;